.notification-item {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  max-width: 100%;
  box-sizing: border-box;
}

.notification-item strong {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
