<div class="app-container">
  <router-outlet></router-outlet>

  <ng-container *ngIf="isTaskPanelOpen && selectedTask && projectId">
    <div class="task-panel-overlay" (click)="closePanel()">
      <app-taskdetail
        #taskDetailComponent
        class="task-detail-panel"
        [task]="selectedTask"
        [projectId]="projectId!"
        [autoMoveCompletedTasks]="autoMoveCompletedTasks"
        [userRole]="userRole"
        (click)="$event.stopPropagation()"
        (closed)="onTaskPanelClosed($event)"
      >
      </app-taskdetail>
    </div>
  </ng-container>
</div>
