<div class="app-container">
  <router-outlet></router-outlet>

  <ng-container *ngIf="isTaskPanelOpen && selectedTask && projectId">
    <div class="task-panel-overlay" (click)="closePanel()">
      <div class="task-panel" (click)="$event.stopPropagation()">
        <button class="close-button" (click)="closePanel()">×</button>

        <app-taskdetail
          [task]="selectedTask"
          [projectId]="projectId"
          (closed)="closePanel()"
        ></app-taskdetail>
      </div>
    </div>
  </ng-container>
</div>
